body {
  background-color: gray;
  background-image: url('test1.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif; 
}

header, #main-content p {
  font-family: 'Roboto', sans-serif; /* Apply font to specific elements */
}

main {
  grid-column: span 12;
  padding: 20px;
  background-color: white;
}

#main-content {
  margin: 0 auto;
  text-align: left;
  color: black;
  font-size: 1em;
}

#main-content p {
  font-size: 1.2em;
  color: black;
  text-indent: 2em; /* Creates a slight indent at the start of the paragraph */
}

#main-content img {
  display: block; /* Centers the image horizontally */
  margin: 20px auto; /* Adds space above and below the image */
  max-width: 100%; /* Adjust this percentage to control the maximum width */
  height: auto; /* Ensures the aspect ratio is maintained */
  border-radius: 10px; /* Optional: Adds rounded corners */
}

#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 1px solid blue;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column: span 12;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2em;
}

nav {
  grid-column: span 12;
  background-color: black;
  text-align: left;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin: 1em 3.5em; /* Adjust this value for more or less spacing */
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  padding: 0.5em 2.5em;
  border: 2px solid cyan;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(0, 255, 255, 0.2), rgba(0, 255, 255, 0.1));
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: cyan; /* Contrasting text color */
  border-color: cyan; /* Keeps the border pretty */
}

footer {
  grid-column: span 12; 
  background-color: black; 
  color: white; 
}



